.content__section-information {
  max-width: 984px;
  margin: auto;
  padding-top: 92px;
}

.content__title {
  max-width: 51.875rem;
  font-size: 3.375rem;
  font-family: "Inter Black", sans-serif;
  padding-bottom: 30px;
}

.content__info {
  max-width: 738px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content__quote {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
}

.content__quote-author {
  text-align: end;
}

@media screen and (max-width: 768px) {
  .content__section-information {
    padding-left: 24px;
    padding-right: 24px;
  }
  .content__title {
    font-size: 2.813rem;
  }
}

@media screen and (max-width: 320px) {
  .content__section-information {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 30px;
  }

  .content__title {
    font-size: 2rem;
  }

  .content__quote {
    gap: 20px;
  }
}
