.gallery {
  margin: auto;
  max-width: 1184px;
  padding-top: 118px;
}

.gallery__images{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width:768px) {
  .gallery__images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .gallery-image{
    width: 352px;
    height: 264px;
  }
  .gallery {
    max-width: 720px;
  }
}

@media screen and (max-width:320px) {
  .gallery__images {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .gallery-image{
    width: 288px;
    height: 216px;
  }

  .gallery{
    max-width: 288px;
  }
}