.nav {
  display: flex;
  padding-top: 34px;
}

.nav__logo {
  margin: auto;
}

.nav__logo-mobile {
  display: none;
}

@media screen and (max-width:320px) {
  .nav__logo-pc {
    display: none;
  }
  .nav__logo-mobile{
    display: inline;
  }

}