html {
  font-size: 16px;
}

body {
  background-color: #2a2c2f;
}

.page {
  color: white;
  margin: 0 auto;
  font-family: "Inter Regular", sans-serif;
}

.shadow {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.534);
}
