@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/nav.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/footer.css);

html {
  font-size: 16px;
}

body {
  background-color: #2a2c2f;
}

.page {
  color: white;
  margin: 0 auto;
  font-family: "Inter Regular", sans-serif;
}

@media screen and (max-width:768px) {
  .header__text {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__title {
    font-size: 4.688rem;
  }
  .header__front-image {
    max-width: 100%;
  }
  .content {
    padding-left: 24px;
    padding-right: 24px;
  }
  .content__title {
    font-size: 2.813rem;
  }
  .footer__copyright {
    font-size: 0.875rem;
  }
}

@media screen and (max-width:320px) {
  .nav__logo-pc {
    display: none;
  }
  .nav__logo-mobile{
    display: inline;
  }
  .header__text {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__title {
    font-size: 2.5rem;
  }
  .header__description{
    font-size: 1rem;
    max-width: 100%;
  }
  .header__front-image {
    max-width: 100%;
  }
  .content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .content__title {
    font-size: 2rem;
  }
}